*{
    margin: 0%;
    box-sizing: border-box;

}
body{
    background: linear-gradient(to bottom left, #0c1fa0, #023583, #014fb5);
    background-attachment: fixed;
    color: rgb(252, 84, 0);
    margin: 12%;
    font-size: xx-large;
    
}
.total{
    display: flex;
    height: 60vh;
    width: 65vw;
    background-color: rgb(141, 79, 17);
    justify-content: center;
    align-items: center;
}
.total:hover{
    background-color: rgb(215, 117, 19);
}
.can{
    display: flex;
    height: 48vh;
    width: 53vw;
    border: 3px dotted black;
    justify-content: center;
    align-items: center;
}